@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  /* ROi Construction Brand Palette */
  
  --color-roi-orange: #b81f24; /* logo red */
  --color-roi-dark: #110d0a; 
  --color-roi-orange: #f38918;
  --color-roi-dark: #1a140f;
  --color-roi-accent: #2a221a;
  --color-roi-teal: #4d948c;
}


html {
  scroll-behavior: smooth;
}